body {
  margin: 0;
}
/* Nav Bar */
.navBar {
  height: 35px;
  width: 100%;
  background-color: #6b705c;
  color: #b7b7a4;
  border-radius: 5px;
  margin-bottom: 1vh;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.partiegauche {
  display: flex;
}
.loupe {
  height: 32px;
  width: 32px;
  margin-left: 5px;
}
.title {
  font-size: 120%;
  margin-top: 5px;
  margin-left: 5px;
}
.burger {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  margin-top: 2px;
}
/* NaveBar2 */
.navBar2 {
  display: flex;
  justify-content: center;
}
.Compétences {
  text-align: center;
  height: 20px;
  width: 500px;
  background-color: #6b705c;
  color: #b7b7a4;
  border-radius: 5px;
}
.Expériences {
  text-align: center;
  height: 20px;
  width: 500px;
  background-color: #6b705c;
  color: #b7b7a4;
  border-radius: 5px;
}
.Contact {
  text-align: center;
  height: 20px;
  width: 500px;
  background-color: #6b705c;
  color: #b7b7a4;
  border-radius: 5px;
}
.logoHome {
  height: 15px;
  width: 15px;
  text-align: center;
  margin: 2px;
}
/* Visuel Home */

.div1 {
  background-color: #b7b7a4;
  height: 100vh;
  width: 100%;
}
.global {
  height: 1000px;
  margin-top: 80px;
  display: flex;
}
.left {
  color: #6b705c;
  height: 90vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation {
  height: 50vh;
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 130%;
}
.logo {
  margin-top: 20px;
  height : 60%; max: height 100px;px; width : auto;
  text-align: center;
}
.right {
  height: 70vh;
  width: 50vw;
  background-image: url("../img/macbook.jpg");
  background-position: center;
  background-size: cover;
  aspect-ratio: 0.5;
  opacity: 0.7;
}
/* Page 2 */
.div2 {
  background-color: #ddbea9;
  height: 100vh;
  width: 100%;
}
.barrecompétence {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.htmlCss {
  height: 50px;
  width: 70%;
  background-color: #b7b7a4;
  border-radius: 50px;
}
.htmlCss2 {
  height: 50px;
  width: 60%;
  background-color: #6b705c;
  border-radius: 50px;
}
.imgHtml{
  height: 50px; width: 50px;
 margin-left: -12vw;
 margin-bottom: 8px;
}
.imgCss{
  height: 50px; width: 50px;
  margin-bottom: 8px;
  margin-left: 1vw;
}
.js {
  height: 50px;
  width: 70%;
  background-color: #b7b7a4;
  border-radius: 50px;
  margin-top: 50px;
}
.js2 {
  height: 50px;
  width: 60%;
  background-color: #6b705c;
  border-radius: 50px;
}
.imgJS{
  height: 50px; width: 50px;
  margin-bottom: 8px;
  margin-left: -12vw;
}
.imgAngular{
  height: 50px; width: 50px;
  margin-bottom: 8px;
  margin-left: 1vw;
}
.php {
  height: 50px;
  width: 70%;
  background-color: #b7b7a4;
  border-radius: 50px;
  margin-top: 50px;
}
.php2 {
  height: 50px;
  width: 60%;
  background-color: #6b705c;
  border-radius: 50px;
}
.imgDocker{
  height: 50px; width: 50px;
 margin-left: -14vw;
 margin-bottom: 8px;
}
.imgPhp{
  height: 50px; width: 50px;
  margin-bottom: 8px;
  margin-left: 1vw;
}
.imgSql{
  height: 50px; width: 50px;
  margin-bottom: 8px;
  margin-left: 1vw;
}
.figmaGit {
  height: 50px;
  width: 70%;
  background-color: #b7b7a4;
  border-radius: 50px;
  margin-top: 50px;
}
.figmaGit2 {
  height: 50px;
  width: 60%;
  background-color: #6b705c;
  border-radius: 50px;
}
.imgGit{
 height: 50px; width: 50px;
 margin-left: -12vw;
 margin-bottom: 8px;
}
.imgFigma{
  height: 50px; width: 50px;
  margin-bottom: 8px;
  margin-left: 1vw;
}
/* Page 3 */
.div3 {
  background-color: #b7b7a4;
  height: 100vh;
  width: 100%;
}
.projets
{
  height: 40vh; width: 100vw;
  margin-top: 4%;
  display: flex; 
  justify-content: space-around;
}
.projet1{
  background-color: #ddbea9;
  height: 30vh; width: 60vh;
  border-radius: 10%;
}
.projet2{
  background-color: #ddbea9;
  height: 30vh; width: 60vh;
  border-radius: 10%;
}
.projet3{
  background-color: #ddbea9;
  height: 30vh; width: 60vh;
  border-radius: 10%;
}
.projet4{
  background-color: #ddbea9;
  height: 30vh; width: 60vh;
  border-radius: 10%;
}
/* Page 4 */
.div4 {
  background-color: #ddbea9;
  height: 100vh;
  width: 100%;
}
.formulaireContact{
  background-color: #b7b7a4;
  height: 75%;
  min-width: 500px;
  width: 60%;
  display: flex;
  flex-direction: column;
 align-items: center;
 border-radius: 20px;
 margin: auto;
 margin-top: 8vh;
}
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 500px;
  width: 80%;
}
.input-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
label{
  position: absolute;
  left: 20px;
  top: 10px;
  color: #6b705c;
}
input, textarea{
  background-color: #6b705c;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  border: solid;
  border-color: #ddbea9;
}

input[type="submit"]{
  transition: ease-in-out .2s;
  cursor: pointer;
  background-color: #6b705c;
  width: 80px; 
  color: #b7b7a4;
  border: solid;
  border-color: #ddbea9;
}
input[type="submit"]{
  transition: ease-in-out .2s;
  cursor: pointer;
}
/* Format Téléphone */
@media screen and (max-width: 767px) {
  .navBar2 {
    display: none;
  }
  .global {
    height: 100vh;
    display: flex;
    flex-direction: column;  
    
  }
  .left {
    margin-top: -70px;
    height: 30vh;
    width: 100vw;
  }
  .presentation {
   height: 50vh;
  width: 90%;
  text-align: center;
  font-size: 100%;
  }
  .logo {
    margin-top: -2px;
 height: 15vh; width: auto;
  text-align: center;
  }
  .right {
    height: 40vh; width: 100vw;
    background-image: url("../img/macbook.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.6;
    margin: auto;
  }
  .title{
    font-size: 105%;
  }
  .barrecompétence{
    display: flex;
  }
  .barrecompétence>*{
    transform: rotate(-90deg);
  }
  .barrecompétence img{
    transform: rotate(90deg);
  }
  
  }
/* Format Tablette */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navBar2 {
    display: none;
  }
 
}

/* Format Ordinateur */
@media screen and (min-width: 1024px) {
  .burger {
    display: none;
  }
}
